.main {
    background-color: rgb(100, 187, 237);
    margin: 0 auto;
    padding: 2px 2px auto;
    width: max-content;
    overflow: hidden;
}
.row {
    height: max-content;
    margin: 0 2px auto;
    overflow: hidden;
}
#display1 {
    margin: 1px 0;
    text-align: right;
    font-size: 18px;
    color: rgb(255, 113, 30);
    width: 270px;
    height: 18px;
}
#display2 {
    background-color: lightblue;
    margin: 2px 0 auto;
    text-align: right;
    font-size: xx-large;
    width: 273px;
    height: 40px;
}
button {
    background-color: deepskyblue;
    font-size: x-large;
    width: 70px;
    height: 70px;
    float: left;
}
button:hover {
    background-color: rgb(176, 199, 230);
}
button:active {
    background-color: rgb(64, 101, 224) ;
}