body {
    width: 60%;
    margin: 0px auto;
}
header{
    background-color: black; 
    color: white; 
    text-align: center; 
    padding:  5px;
}

nav {
    text-align: center; 
    line-height:  30px; 
    background-color: white; 
    height: 300px; 
    width: 100px; 
    float: left; 
    padding: 5px;
}

section {
    width: 350px;
    float: left;
    padding: 5px; 
    margin: 0px 225px auto;
}

footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding:  5px;
    clear: both;
}