.container {
    background-color: #dbdbdb;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px #000 solid;
    width: 20%;
    overflow: hidden;

}
#mainHeader {
    background-color: #bebdbd;
    text-align: center;
    color: #1d1c1c;
    padding: 10px;
}
#formData {
    margin: 0 auto;
    text-align: center;
    color: #1d1c1c;
    padding: 10px;
}
.registrationLabel {
    text-align: left;

}
.signInLabel {
    text-align: center;
}
#age {
    width: 30px;
}